.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile {
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}

.answers{
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}


.addAnswerButton {
  display: flex;
  justify-content: right;
  align-items: right
}