.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first_line {
  display: flex;
  justify-content: space-between;
}
.item {
  padding: 5px;
}
.answers{
  border-style: dotted;
  border-width: 2px;
  border-radius: 10px;
  padding: 5px;
}

.tile{
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}

.bottom_line {
  display: flex;
  justify-content: space-between;
}