* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* ------------- overview ------------- */
.topRow {
  display: flex;
  flex-wrap: wrap;
}

.bottomRow {
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  display: flex;
  margin: .5%;
  width: 58%;
  height: 500px;
  justify-content: center;
  /* border: 1px solid black */
}

.productInfo {
  margin: .5%;
  padding: 5px;
  display: grid;
  width: 38%;
  /* border: 1px solid black */
}

.parentLayer {
  position:relative
}

.topLayer {
  position: absolute;
  top: -75px;
  left: 25px;
  z-index: 2;
  font-size: 120px;
  color: white;
}

.bottomLayer {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1;
  /* border: 1px green solid; */
}

.cartOne {
  display: flex;
  justify-content: space-around;
}

.cartSelect {
  background-color: white;
  border-radius: 5px;
  height: 80px;
  width: 200px;
}

.cartTwo {
  display: flex;
  height: 100%;
  align-items: center;
}

.cartButton {
  background-color: white;
  border-radius:  25px;
  height: 80%;
  width: 100%;
}

.productOverview {
  display: flex;
  margin: .5%;
  width: 50%;
  justify-content: center;
  /* border: 1px solid black */
}

.description {
  font-style: italic
}
/* ------------- overview ------------- */

/* ------------- review ------------- */

.btn {
  border-radius: 8px;
  border-width: 0;
  border:none;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-container {
  display: flex;
  justify-content:space-between;

}

.review {
  height: 100%;
}

.review-review {
  margin-right: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  float:right;
  width: 50%;
  height: 700px;
  border: 2px solid #333333;
}

.review-allReview {
  display: flex;
  flex-direction: column;
  width: 97%;
  height: 80%;
  margin: 10px auto;
  overflow-y: auto;
}

.review-summary-container {
  display: flex;
  justify-content: space-between;
}

.reviewSummary {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}

.review-singleReview {
  margin: 5px auto;
  width: 95%;
  text-align: left;

}
.review-singleReview-divider-container {
  display: flex;
  justify-content: flex-start;
}

.review-singleReview-divider {
  margin-top: 5px;
  height: 1px;
  flex-grow: 1;
  background-color: #bfbfbf;
}

.review-addReview {
  width: 800px;
  height: 700px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}

.review-addReview-star-container, .review-addReview-recommend-container, .review-addReview-characteristics-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.review-addReview-star-container, .review-addReview-recommend-container {
  height: 30px;
  flex-direction: row;
}
.review-addReview-characteristics-container {
  flex-direction: column;
}

.review-addReview-radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.review-addReview-radio-radio {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #d8e4e2;
  border-radius: 50%;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 2px;
}

.review-addReview-radio-input {
  display: none;
}

.review-addReview-radio-radio::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: rgb(80,80,80);
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.15s;
}

.review-addReview-radio-input:checked+ .review-addReview-radio-radio::after {
  transform:scale(1);
}

.review-addReview-star-text {
  /* width: 50%; */
}

.review-addReview-star {
  /* width: 100%; */
  /* height: 30%; */
}

.starRatingRadio {
  display: none;
}

.review-addReview-characteristics-text-radio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 25px;

}

.review-addReview-characteristics-radio {
  display: inline-flex;
  overflow: hidden;
  border-radius: 13px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  margin-left: 10px;
}

.review-addReview-characteristics-radio-input {
  display: none;

}

.review-addReview-characteristics-radio-label {
  padding: 5px 13px;
  font-size: 13px;
  color: #ffffff;
  background-color: #7395AE;
  cursor: pointer;
  transition: background 0.1s;

}
.review-addReview-characteristics-radio-label:not(:last-of-type) {
  border-right: 1px solid #557A95;
}

.review-addReview-characteristics-radio-input:checked + .review-addReview-characteristics-radio-label {
  background: #557A95;
}

.review-rating {
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-shrink: 1;
  margin-left: 120px;
  float:left;
  width: 25%;
  height: 700px;
  border: 2px solid #333333;
  font-family: "Times New Roman", Times, serif;
  overflow:auto
}

.review-rating-title {
  text-transform: uppercase;
  margin-left: 40px;
}


.rating-score-star-container, .rating-star-container{
  position: relative;
  display: flex;
  width: 100%;
  flex-shrink: 1;
  justify-content: flex-start;
  align-items: center;

}

.rating-score-star-container {
  gap:15px
}

.rating-score {
  display:inline-block;
  vertical-align:bottom;
  margin-left: 40px;
  font-weight: bold;
  font-size: 70px;
  color: 	rgb(80,80,80);
}

.rating-star {
  /* position: absolute; */
  color: #ff9800;
  font-size: 30px;
}

.half-rating-star {
  /* position: absolute; */
  --v:50;
  background: linear-gradient(
    90deg,
    #ff9800 calc(var(--v) * 1%),
    transparent 0%
  );
  -webkit-background-clip: text;
  color: transparent;
  font-size: 30px;
  -webkit-text-stroke:1px #ff9800
}

.rating-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  margin-left: 40px;
  margin-right: 40px;
}

.rating-stats-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap:10px;
  text-decoration: underline;

}

.rating-stats-backgroundBar {
  display: flex;
  justify-content:flex-start;
  position: relative;
  background-color: rgba(232, 232, 232, 0.9);
  width: 80%;
  height: 12px;
}

.rating-stats-colorBar {
  background-color:	rgb(80,80,80);
  width: 70%;
  height: 100%;
}

.rating-char-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 15px;
  color: #333333;
  gap: 3px;
}

.rating-char-line-container {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 100%;
}

.rating-char-line {
  width: 51px;
  height: 12px;
  background-color: rgba(232, 232, 232, 0.9);
}

.rating-char-line-triangle-container {
  width: 100%;
}

.rating-char-triangle {
  position: relative;
  margin-top: -10px;
  margin-left: 96%;
  width: 0;
  height: 0;
  border: 10px solid #333333;
  border-color: #333333 transparent transparent transparent;
}

.thumbnail-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.thumbnail {
  height: 100px;
  width: 100px;
}

.modalView {
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-content {
  width: 500px;
  height: 550px;
  position: fixed;
  left: 80%;
  top: 500%;
  transform: translate(-50%, -50%);
  padding: 50px;
  z-index: 1000;
  top: 0px;
}

.largeImage {
  width: 500px;
  height: 500px;
}

.close {
  width: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.single-rating {
  display: flex;
}

.single-rating-star {
  font-size: 25px;
  color: #ff9800;
}

.single-rating-reviewer-container {
  display: flex;
  justify-content: space-between;
}

.single-reviewer {
  font-size: 15px;
}
.single-title, .single-response {
  font-weight: bold;
  font-size:25px;
}

.single-response {
  background-color: #aaa;
}

.single-recommend {
  font-style: italic;
}

.single-showMore {
  color:#aaa
}
/* ------------- review ------------- */
/* ------------- QandA ------------- */


.q_and_a {
  padding-left: 200px;
  padding-right: 200px;
}
.qSearch {
  width: 100%;
  padding: 20px 37px;
  margin: 8px 0;
  border: 2px solid black;
  box-sizing: border-box;
  font-weight: bold;
}

.qSearchForm {
  padding: 10px;
}

.qFirst_line {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
.qItem {
  padding: 5px;
}
.qAnswers{
  /* border-width: 2px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black; */
  padding: 5px;

}

.qTile{
  /* border-width: 2px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black; */
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  background-color: rgb(248, 248, 248);
}

.qList{
  height: 555px;
  width: auto;
  overflow: auto;
}

.qBottom_line {
  display: flex;
  justify-content: flex-start;
  padding-top: 5px;
}

.qButton {
  font-size: 20px;
  border: 2px solid black;
  padding: 20px 37px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-right: 15px;
  background-color: white;
}

.qUnderline {
  text-decoration: underline;
}

.qModalBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qModalContainer {
  width: 750px;
  height: 500px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
/* ------------- QandA ------------- */

