* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* ------------- search ------------- */

.searchBar {
  background-color: #52616B;
}

.resultsPage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #F0F5F9;
}

.result {
  display: flex;
  justify-content: space-around;
  width: 80%;
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
  background-color: #C9D6DF;
  box-shadow: rgba(0,0,0,0.25) 0px 2px 5px;
}

.resultLeft {
  text-align: center;
  width: 30%
}

.resultRight {
  text-align: center;
  width: 70%
}

.slogan {
  font-style: italic;
}

.result:hover {
  background-color: antiquewhite;
}

/* ------------- search ------------- */

/* ------------- overview ------------- */

.overview {

}
.topRow {
  background-color: #F0F5F9;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bottomRow {
  background-color: #F0F5F9;
  display: flex;
  max-height: fit-content;
  flex-wrap: wrap;
}

.gallery {
  display: flex;
  margin-top: .5%;
  margin-left: 2%;
  width: 50%;
  /* height: 500px; */
  justify-content: center;
  z-index: 1;
  /* border: 1px solid black; */
}

/* display: 'flex', height: '750px' */
.carouselContainer {
  position: relative;
  width: 100%;
  background-color: #C9D6DF;
  box-shadow: rgba(0,0,0,0.25) 0px 2px 5px;
  /* border: 1px solid black; */
}

/* style={{height: '900px', width: '1000px'}} */
.image {
  /* display: block; */
  height: 900px;
  width: 100%;
  object-fit: cover;
  align-self: center;
  border-radius: 8px;
  background-color: #F0F5F9;
}

.image:hover {
  cursor: zoom-in
}

.galleryArrow {
  color: whitesmoke;
  font-size: 50px;
  opacity: 85%;
  z-index: 2;
}

.left {
  position: relative;
  left: 38px;
}

.right {
  position: relative;
  left: -38px;
}

.galleryOverlay {
  position: absolute;
  /* background-color: rgba(240, 245, 249, 0); */
  /* border: 1px solid black; */
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  /* left: 22.825%; */
  width: 100%;
  z-index: 1;
  /* box-shadow: rgba(0,0,0,.5) 0px 2px 5px; */
  transition: width 1s, height 1s, transform 1s;
  /* opacity: 50% */
}

/* style={{height: '40px', width: '30px', border: '3px solid black'}} */
.selectedOverlayThumbnail {
  opacity: 100%;
  height: 5%;
  width: 15%;
  border: 2px solid black;
  box-shadow: rgba(0,0,0,0.25) 0px 2px 5px;
  transition: width 1s, height 1s, transform 1s;
}

.overlayThumbnail {
  opacity: 100%;
  height: 5%;
  /* max-height: 6%;
  min-height: 5%; */
  width: 10%;
  box-shadow: rgba(0,0,0,0.25) 0px 2px 5px;
  transition: width 1s, height 1s, transform 1s;
}

.overlayThumbnail:hover {
  border: 1px solid black;
}

.thumbnailArrowLeft {
  color: whitesmoke;
  position: relative;
  /* top: 20px; */
  font-size: 40pt;
}

.thumbNailArrowRight {
  color: whitesmoke;
  position: relative;
  /* top: 20px; */
  font-size: 40pt;
}

.expandedGallery {
  display: flex;
  width: 100%;
  margin-left: 15%;
}

.expandedCarouselContainer {
  display: 'flex';
  justify-content: center;
  position: relative;
  width: 80%;
  margin-top: 0.5%;
}

.expandedImage {
  /* display: block; */
  /* height: 2000px; */
  width: 100%;
  max-height: 1500px;
  border-radius: 5px;
  /* object-fit: cover; */
  /* align-self: center; */
  background-color: #F0F5F9;
}

.expandedImage:hover {
  cursor: zoom-out
}

.expandedLeft {
  position: relative;
  top: 40%;
  left: 38px;
}

.expandedRight {
  position: relative;
  top: 40%;
  left: -38px;
}

.productInfo {
  /* background-color: #C9D6DF; */
  margin-top: .5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  margin-right: 80px;
  width: 28%;
  /* border: 1px solid black; */
  /* border-radius: 4px; */
  /* box-shadow: rgba(0,0,0,0.25) 0px 2px 5px; */
}

.info {
  flex: 1;
  background-color: #C9D6DF;
  box-shadow: rgba(0,0,0,0.25) 0px 2px 5px;
  margin-left: 12%;
  margin-right: 12%;
  padding: 10px;
}

.infoRating {
  display: flex;
  flex: 1;
  /* justify-content: center; */
  background-color: #99a9b4;
  border-radius: 4px;
  box-shadow: rgba(0,0,0,0.25) 0px 2px 5px;
}

.reviewLink {
  color: black;
  padding-top: 3%;
  padding-right: 12%;
  /* width: 100px; */
  white-space: nowrap;
}

.reviewLink:hover {
  color: blue
}

.infoCategory {
  font-size: 16pt;
  font-weight: bolder;
  font-style: italic;
}

.infoName {
  font-size: 24pt;
  font-weight: bolder;
}

.infoPrice {
  font-size: 24pt;
  font-weight: bolder;
}

.infoOldPrice {
  font-size: 16pt;
  font-weight: bolder;
}

.infoNewPrice {
  color: red;
  font-size: 20pt;
  font-weight: bolder;
}

.features {
  flex: 1;
  /* width: 50%; */
  margin-top: 2%;
  margin-left: 12%;
  margin-right: 12%;
}

.featureHeading {
  font-weight: bold;
}

.featureCheck {
  font-size: 16pt;
}

.featureHead {
  font-weight: bold;
}

.featureList {
  padding-left: 10%;
}

.styles {
  flex: 1;
  /* max-width: fit-content; */
}

/* style={{'fontSize': 'x-large', 'marginTop': '10%'}} */
.styleHeader {
  font-size: x-large;
  /* margin-top: 10%; */
  margin-left: 12%;
}

.descriptionStyle {
  font-style: italic;
}

/* style={{'display': 'grid', 'justifyContent': 'space-around', 'flexWrap': 'wrap', 'marginTop': '10%'}} */
.styleGrid {
  display: grid;
  justify-content: space-around;
  flex-wrap: wrap;
  /* margin-top: 10%; */
}

.parentLayer {
  position:relative
}

.topLayer {
  position: absolute;
  top: -50px;
  left: 30px;
  z-index: 2;
  font-size: 80px;
  color: white;
}

.bottomLayer {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1;
  box-shadow: rgba(0,0,0,0.25) 0px 2px 5px;
  /* border: 1px green solid; */
}

.cartOne {
  display: flex;
  /* justify-content: space-around; */
  margin: 10px;
}

.cartSelectLeft {
  background-color: white;
  border-radius: 5px;
  height: 60px;
  width: 28%;
  margin-left: 12%;
  margin-right: 8%;
  text-align: center;
  box-shadow: rgba(0,0,0,0.25) 0px 2px 5px;
}

.cartSelectRight {
  background-color: white;
  border-radius: 5px;
  height: 60px;
  width: 28%;
  margin-left: 15%;
  margin-right: 12%;
  text-align: center;
  box-shadow: rgba(0,0,0,0.25) 0px 2px 5px;
}

.cartTwo {
  display: flex;
  /* height: 100%; */
  align-items: center;
}

/* 66. */
.cartButton {
  font-size: 20px;
  border: 0px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
  border-radius: 4px;
  padding: 18px;
  text-align: center;
  display: inline-block;
  font-size: 12pt;
  font-weight: bold;
  margin-left: 13%;
  margin-right: 6%;
  background-color: rgb(255, 254, 248);
  height: 80%;
  width: 74%;
}

.productOverview {
  display: flex;
  /* padding-top: 50px; */
  margin-left: 200px;
  margin-right: 200px;
  /* padding-bottom: 50px; */
  margin-top: 2%;
  width: 100%;
  justify-content: space-between;
  /* border: 1px solid black */
  background-color: #C9D6DF;
  box-shadow: rgba(0,0,0,0.25) 0px 2px 5px;
}

.descriptionBox {
  /* width: 10%; */
  /* background-color: #C9D6DF; */
  /* border: 1px solid black; */
  /* border-radius: 4px; */
  /* box-shadow: rgba(0,0,0,0.25) 0px 2px 5px; */
}

.description {
  font-style: italic;
  /* text-align: center; */
  /* border: 1px solid black */
}

.descriptionTitle {
  font-size: 24pt;
}

.featureList {
  list-style-type: square;
}
/* ------------- overview ------------- */

/* ------------- review ------------- */


select {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
  padding: 0em 2em 0em 1em;
  background: rgba(232, 232, 232, 0.9);
  color: rgb(80,80,80);
  appearance: none;
  border: 0;
  outline: none;
  /* text-align: left; */

}

.review-custom-select {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
}

option {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.review-custom-arrow {
  position: absolute;
  right: 0;
  display: block;
  background: rgb(120,120,120);
  /* background: rgb(200,200,200); */
  height: 22px;
  /* height: 100%; */
  width: 1.5rem;
  pointer-events: none;
}

.review-custom-arrow::before,
.review-custom-arrow::after {
  --size: 0.3em;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left:50%;

  transform:translate(-50%, -50%)

}

.review-custom-arrow::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid rgb(230,230,230);
  top: 35%;
}

.review-custom-arrow::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid rgb(230,230,230);
  top: 70%;
}

/* .review-btn {
  width: 120px;
  border: none;
  outline: none;
} */

.review-btn {
  font-size: 20px;
  border: 0px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 12pt;
  font-weight: bold;
  margin-right: 15px;
  background-color: rgb(255, 254, 248);
}

.btn-container {
  display: flex;
  justify-content:space-between;
  width: 94%;
  margin: 10px auto;

}

.review {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 10px;
}

.review-review {
  margin-right: 120px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  float:right;
  width: 48%;
  height: 700px;
  /* border: 2px solid #333333; */
}

.review-allReview {
  display: flex;
  flex-direction: column;
  width: 92%;
  height: 80%;
  margin: 10px auto;
  overflow-y: auto;
}

.review-summary-container {
  display: flex;
  justify-content: space-between;
  width: 94%;
  /* height: 80%; */
  margin: 10px auto;
}

.reviewSummary {
  text-align: left;
  font-size: 15px;
  text-transform: uppercase;
  /* font-weight: bold; */
  margin-left: 10px;
}

.review-singleReview {
  margin-right: 5px;
  width: 95%;
  text-align: left;
  justify-content: flex-start;

}
.review-singleReview-divider-container {
  display: flex;
  justify-content: flex-start;
}

.review-singleReview-divider {
  margin-top: 5px;
  height: 1px;
  flex-grow: 1;
  background-color: #bfbfbf;
}

.review-search-container {
  /* height: 15px; */
  font-size: 15px;
  display: flex;
  overflow: hidden;
}
.review-search-input {
  /* flex: 1; */
  border: none;
  background-color: rgb(230,230,230);
  outline: none;
}

.review-search-button {
  background: rgb(120,120,120);
  /* padding: 10px 30px; */
  font-size: 15px;
  border: none;
  outline: none;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  /* text-transform: uppercase; */
  /* text-decoration: ; */

}


/* --------- add review feature --------- */
.review-addReview {
  width: 600px;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 40px;
  padding-top: 20px;
  gap: 10px;
  justify-content: flex-start;
  font-family: "Times New Roman", Times, serif;
}

.review-addReview-modal-content {
  width: 800px;
  height: fit-content;
  position: absolute !important;
  left: 50%;
  top: 100% !important;
  transform: translate(-50%, -50%);
  padding: 50px;
  z-index: 1000;
  top: 0px;

}

.review-addReview-popUpText {
  color: rgb(80,80,80);
  margin-left: 10px;
}

.review-addReview-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.review-addReview-star-container, .review-addReview-recommend-container, .review-addReview-characteristics-container, .review-addReview-summary-container, .review-addReview-body-container, .review-addReview-photo-container, .review-addReview-personal-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  column-gap: 10px;
  /* row-gap: 15px; */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}

.review-addReview-star-popup-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
}

.review-addReview-recommend-container,.review-addReview-summary-container {
  height: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.review-addReview-submit-btn {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background: rgb(80,80,80);
  color: #FFFFFF;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;

}


.review-addReview-star-full {
  font-size: 40px;
}

.review-addReview-star-empty {
  color: rgba(232, 232, 232, 0.9);
  font-size: 40px;
}

.review-addReview-subtitle {
  font-weight: bold;
  font-size: 15px;
}

/* -- add review: recommend  -- */
.review-addReview-radio-text {
  margin-left: 10px;
}

.review-addReview-radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.review-addReview-radio-radio {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #d8e4e2;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 2px;
}

.review-addReview-radio-input {
  display: none;
}

.review-addReview-radio-radio::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: rgb(80,80,80);
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.15s;
}

.review-addReview-radio-input:checked+ .review-addReview-radio-radio::after {
  transform:scale(1);
}

/* -- add review: recommend  -- */

/* -- add review: characteristics  -- */

.review-addReview-characteristics-container {
  justify-content: flex-start;
  gap: 5px;
}

.review-addReview-characteristics-radio-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  /* gap: 5px; */
}

.review-addReview-characteristics-text-radio, .review-addReview-characteristics-text-radio-container {
  display: flex;
  /* flex-direction: row; */
  /* height: 25px; */

}
.review-addReview-characteristics-text-radio-container {
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.review-addReview-characteristics-text-radio {
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.review-addReview-characteristics-radio {
  display: inline-flex;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  width: 420px;
  justify-content: space-between;
  margin-left: 10px;
}

.review-addReview-characteristics-radio-input {
  display: none;

}

.review-addReview-characteristics-radio-label {
  padding: 7px 30px;
  font-size: 13px;
  color: #333333;
  background-color: rgb(230,230,230);
  cursor: pointer;
  transition: background 0.1s;
  /* gap: 10px; */

}
.review-addReview-characteristics-radio-label:not(:last-of-type) {
  border-right: 1px solid #FFFFFF;
  /* color: #FFFFFF; */
}

.review-addReview-characteristics-radio-input:checked + .review-addReview-characteristics-radio-label {
  background: rgb(80,80,80);
  color: #FFFFFF;
}

/* -- add review: characteristics  -- */

/* -- add review: summary  -- */
.review-addReview-summary-container {
  width: 100%;
  background: #fff;
  padding:30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.review-addReview-summary-container .review-addReview-summary {
  height: 40px;
  width: 100%;
  position: relative;
}

.review-addReview-input {
  height: 100%;
  width: 100%;
  border: none;
  border-bottom: 2px solid silver;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none
}

.review-addReview-summary input:focus ~ label, .review-addReview-summary input:valid ~ label {
  transform: translateY(-20px);
  font-size: 15px;
  color: rgb(80,80,80)
}

.review-addReview-label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease
}

.review-addReview-underline {
  position: absolute;
  bottom: 0px;
  height:2px;
  width:100%;
}
.review-addReview-summary .review-addReview-underline::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #ff9800;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.review-addReview-summary input:focus ~ .review-addReview-underline::before, .review-addReview-summary input:valid ~ .review-addReview-underline::before {
  transform: scaleX(1);
}

.review-addReview-redText {
  color: red;
  position: absolute;
  top: 50px;

}

.review-addReview-blackText {
  position: absolute;
  top: 50px;
  color: grey;
}

/* -- add review: summary  -- */

/* -- add review: photo  -- */
.review-addReview-photo-button {
  display: flex;
  direction: row;
  justify-content: space-between;

}

.review-addReview-button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.review-addReview-button:hover,
.review-addReview-button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.review-addReview-button:hover {
  transform: translateY(-1px);
}

.review-addReview-button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

/* -- add review: photo  -- */

/* -- add review: personal  -- */
.review-addReview-personal-container {
  display: flex;
  flex-direction: row;
}

/* -- add review: personal  -- */
/* ----------- add review feature ----------- */

.starRatingRadio {
  display: none;
}

.review-rating {
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-shrink: 1;
  margin-left: 140px;
  float:left;
  width: 20%;
  height: 700px;
  /* border: 2px solid #333333; */
  font-family: "Times New Roman", Times, serif;
  overflow:auto
}

.review-rating-title {
  text-transform: uppercase;
  /* margin-left: 40px; */
}

.rating-score-star-container, .rating-star-container{
  position: relative;
  display: flex;
  width: 100%;
  flex-shrink: 1;
  justify-content: flex-start;
  align-items: center;

}

.rating-score-star-container {
  gap:15px
}

.rating-score {
  display:inline-block;
  vertical-align:bottom;
  /* margin-left: 40px; */
  font-weight: bold;
  font-size: 70px;
  color:  rgb(80,80,80);
}

.rating-star-full {
  color: rgb(80,80,80);
  font-size: 30px;
}

.rating-star-empty {
  color: rgb(220,220,220);
  font-size: 30px;
}

.half-rating-star {
  --v:50;
  background: linear-gradient(
    90deg,
    rgb(80,80,80) calc(var(--v) * 1%),
    rgb(220,220,220) 0%
  );
  -webkit-background-clip: text;
  color: transparent;
  font-size: 30px;
}


/* .half-rating-star {
  --v:50;
  background: linear-gradient(
    90deg,
    rgb(80,80,80) calc(var(--v) * 1%),
    transparent 0%
  );
  -webkit-background-clip: text;
  color: transparent;
  font-size: 30px;
  -webkit-text-stroke:1px rgb(80,80,80)
} */

.rating-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  /* margin-left: 40px; */
  /* margin-right: 40px; */
}

.rating-stats-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap:10px;
  overflow: hidden;


}
.rating-stats-bar-starText {
  text-decoration: underline;
}

.rating-stats-bar-countText {
  text-decoration:none;
  font-size: 15px;
  color: rgb(80,80,80);
  width: 15px;
}

.rating-stats-backgroundBar {
  display: flex;
  justify-content:flex-start;
  position: relative;
  background-color: rgba(232, 232, 232, 0.9);
  width: 62%;
  margin-left: 3px;
  height: 12px;
}

.rating-stats-colorBar {
  background-color: rgb(80,80,80);
  width: 70%;
  height: 100%;
}

.rating-char-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  /* margin-left: 40px; */
  /* margin-right: 40px; */
  font-size: 15px;
  color: #333333;
  gap: 3px;
}

.rating-char-line-container {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 100%;
}

.rating-char-line {
  width: 51px;
  height: 12px;
  background-color: rgba(232, 232, 232, 0.9);
}

.rating-char-line-triangle-container {
  width: 100%;
}

.rating-char-triangle {
  position: relative;
  margin-top: -10px;
  margin-left: 96%;
  width: 0;
  height: 0;
  border: 10px solid #333333;
  border-color: #333333 transparent transparent transparent;
}

.thumbnail-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.thumbnail {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.modalView {
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-content {
  width: 800px;
  height: fit-content;
  position: fixed !important;
  left: 80%;
  top: 50% !important;
  transform: translate(-50%, -50%);
  padding: 50px;
  z-index: 1000;
  top: 0px;

}

.largeImage {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.close {
  width: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.single-rating {
  display: flex;
}

.single-rating-star-full {
  font-size: 25px;
  color: rgb(80,80,80);
}

.single-rating-star-empty {
  font-size: 25px;
  color: rgb(220,220,220);
}

.single-rating-reviewer-container {
  display: flex;
  justify-content: space-between;
}

.single-reviewer {
  font-size: 15px;
}
.single-title, .single-response {
  font-weight: bold;
  font-size:25px;
}

.single-response {
  background-color: #aaa;
}

.single-recommend {
  font-style: italic;
}

.single-showMore-container {
  display: flex;
  cursor: pointer;
}

.single-showMore {
  color: rgb(80,80,80);
  text-transform: uppercase;
  position: relative;
  left: 6px;

}

.single-showMore-triangle {
  position: relative;
  margin-top: 8px;
  width: 0;
  height: 0;
  border: 7px solid rgb(80,80,80);
  border-color: rgb(80,80,80) transparent transparent transparent;
}
/* ------------- review ------------- */






/* ---------------vvvvvvvvvvvv QandA vvvvvvvvvvvv-------------------------------------------- */

/* ---------------vvvvvvvvvvvv misc vvvvvvvvvvvvv-------------------------------------------- */
.q_and_a {
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
  background-color: rgb(240, 245, 249);
}

.qSearch {
  width: 100%;
  padding: 18px 20px;
  margin: 8px 0;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 12pt;
  font-weight: bold;
  background-color: rgb(255, 254, 248);
}

/*---------------------------------Main Search------------------------------- */
.qMSearch {
  width: 30%;
  padding: 8px 8px;
  padding-right: 50px;
  margin: 17px 0;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 12pt;
  font-weight: bold;
  background-color: rgb(255, 254, 248);
}

.qSearchBarButton {
  font-size: 20px;
  height: 56%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
  border-radius: 4px;
  margin-top: 17px;
  padding-top: 5px;;
  margin-bottom: 0px;
  text-align: center;
  display: inline-block;
  font-size: 12pt;
  font-weight: bold;
  margin-right: 30px;
  background-color: rgb(255, 254, 248);
}

.qtitle {
  font-size: 30pt;
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
  padding-left: 30px;
  text-decoration: underline;
  padding-bottom: 5px;
  text-shadow: 1.5px 1.5px black;
}
/*---------------------------------Main Search------------------------------- */
.qSearchForm {
  padding: 0px;
}

.qFirst_line {
  display: flex;
  justify-content: space-between;
}

.qItem {
  padding: 2px;
}

.qAnswers{
  /* border-width: 2px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black; */
  padding: 0px;

}

.qTile{
  /* /* border-width: 2px;
  border-radius: 10px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-right: 7px;
  padding-left: 7px;
  margin: 7px;
  background-color: rgb(201, 214, 223);
  border-radius: 4px;
}

.qList{
  height: 530px;
  border-radius: 4px;
  width: auto;
  overflow: auto;
}

.qButton {
  font-size: 20px;
  border: 0px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
  border-radius: 4px;
  padding: 18px;
  text-align: center;
  display: inline-block;
  font-size: 12pt;
  font-weight: bold;
  margin-right: 15px;
  background-color: rgb(255, 254, 248);
}



.qUnderline {
  text-decoration: underline;
}

/* --------------------^^^^^^^^^^ misc ^^^^^^^^^^^^^^^^^-------------------------------------------- */
/*---------------------------------vvvvvvvvvv answer tile  vvvvvvvvvvvvv--------------------------------- */
.qAList{
  height: 150px;
  width: auto;
  background-color:rgb(255, 254, 248);
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 5px;
  border-radius: 4px;
  padding: 5px;
}

.qAnswerLine1 {
  list-style-type: none;
  text-align: left;
}

.qAnswerLine1 h5 {
  display: inline-block;
  font-size: 12pt;
  padding-left: 5px;
}

.qABottom_line {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding-left: 15px;
}

.qABottom_line li {
  display: inline-block;
  font-size: 10pt;
  padding: 8px;
  padding-bottom: 12px;
}

/*---------------------------------^^^^^^^^^^ answer tile ^^^^^^^^^^^^^--------------------------------- */
/* --------------------vvvvvvvvvv Fonts Style vvvvvvvvvvvvv--------------------------------------------- */

.qbold {
  font-weight: bold;
}

.qw10 {
  font-size: 10pt;
  color: black;
}

.qw10B {
  font-size: 10pt;
  font-weight: bold;
  padding-left: 18px;
  padding-top: 15px;
}

.qw10Underline {
  font-size: 10pt;
  text-decoration: underline;
  color: black;
}

.qw12B{
  font-weight: bold;
  font-size: 12pt;
}

.qw12{
  font-size: 12pt;
}

.qw13{
  font-size: 13pt;
}

.qbold13 {
  font-size: 13pt;
  font-weight: bold;
}

/* --------------------^^^^^^^ Fonts Styles ^^^^^^^--------------------------------------------- */

/* ---------------vvvvvvvvvvvv QModal vvvvvvvvvvv-------------------------------------------- */

.qModalBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 420px;
  padding-bottom: 270px;
  position: absolute;
}

.qModalContainer {
  width: 750px;
  height: auto;
  background-color: rgb(240, 245, 249);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 4px;
  position: absolute;
  z-index: 1001;
}

.qQAButton {
  width: 8%;
  font-size: 20px;
  border: 0px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 12pt;
  font-weight: bold;
  margin-left: 15px;
  background-color: white;
}

.qAModalForm1 {
  width: 100%;
  padding: 18px 20px;
  border-radius: 4px;
  margin:8px 0;
  border: 1px solid black;
  box-sizing: border-box;
  max-height: 150px;
  font-size: 12pt;
  font-weight: bold;
}

.qAModalForm2 {
  width: 100%;
  padding: 18px 20px;
  border-radius: 4px;;
  margin: 8px 0;
  border: 1px solid black;
  box-sizing: border-box;
  height: 40px;
  font-size: 12pt;
  font-weight: bold;
}

.qAModalForm3 {
  width: 100%;
  padding: 18px 20px;
  border-radius: 4px;;
  margin: 8px 0;
  border: 1px solid black;
  box-sizing: border-box;
  height: 40px;
  font-size: 12pt;
  font-weight: bold;
}

.qModalButtonPos {
  display: flex;
  justify-content: right;
  align-items: right;
}

.qAModalButtonX {
  padding: 5px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
  box-sizing: border-box;
  height: 40px;
  font-size: 12pt;
  font-weight: bold;
}

/* ---------------^^^^^^^^^^ Modals ^^^^^^^^^^^^-------------------------------------------- */

.banner {
  height: 200px;
  width: 100%;
  padding-bottom: 20px;
}

/* ---------------^^^^^^^^^^^ QandA ^^^^^^^^^^^^-------------------------------------------- */


