* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* ------------- overview ------------- */
.topRow {
  display: flex;
  flex-wrap: wrap;
}

.bottomRow {
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  display: flex;
  margin: .5%;
  width: 58%;
  height: 500px;
  justify-content: center;
  /* border: 1px solid black */
}

.productInfo {
  margin: .5%;
  padding: 5px;
  display: grid;
  width: 38%;
  height: auto;
  /* border: 1px solid black */
}

.cartOne {
  display: flex;
  justify-content: space-around;
}

.cartTwo {
  display: flex;
  height: 100%;
  align-items: center;
}

.productOverview {
  display: flex;
  margin: .5%;
  width: 58%;
  height: 300px;
  justify-content: center;
  /* border: 1px solid black */
}

.description {
  font-style: italic
}
/* ------------- overview ------------- */

/* ------------- review ------------- */

.btn {
  /* outline: none;
  border:none;
  color:aquamarine;
  outline-color: blue */

  /* background-color: rgba(51, 51, 51, 0.05); */
  border-radius: 8px;
  border-width: 0;
  border:none;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-container {
  display: flex;
  justify-content:space-between;

}

/* .btn-moreRevew {
  position: relative;
} */

/* .btn-addRevew {
  position: relative;
  bottom: 5px;
} */

.review {
  height: 100%;
}

.review-review {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Times New Roman", Times, serif;
  /* margin: 10px; */
  text-align: center;
  float:right;
  width: 66%;
  height: 700px;
  border: 2px solid #000
}

.review-allReview {
  display: flex;
  flex-direction: column;
  width: 97%;
  height: 80%;
  margin: 10px auto;
  overflow-y: auto;
}

.review-summary-container {
  display: flex;
  justify-content: space-between;
}

.reviewSummary {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}

.review-singleReview {
  margin: 5px auto;
  width: 95%;
  text-align: left;

}
.review-singleReview-divider-container {
  display: flex;
  justify-content: flex-start;
}

.review-singleReview-divider {
  /* width: 2px;
  margin: 6px 0;
  background: blue;
  align-self: stretch; */
  margin-top: 5px;
  height: 1px;
  flex-grow: 1;
  background-color: #bfbfbf;
}
.review-rating {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 50px;
  float:left;
  width: 25%;
  height: 700px;
  border: 2px solid #000;
  font-family: "Times New Roman", Times, serif;
}

.review-rating-title {
  text-transform: uppercase;
  margin-left: 15px;
}


.rating-score-star-container, .rating-star-container{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.rating-score-star-container {
  gap:15px
}

.rating-score {
  display:inline-block;
  vertical-align:bottom;
  margin-left: 15px;
  font-weight: bold;
  font-size: 80px;
}

.rating-star {
  /* position: absolute; */
  color: #ff9800;
  font-size: 40px;
}

.half-rating-star {
  /* position: absolute; */
  --v:50;
  background: linear-gradient(
    90deg,
    #ff9800 calc(var(--v) * 1%),
    transparent 0%
  );
  -webkit-background-clip: text;
  color: transparent;
  font-size: 40px;
  -webkit-text-stroke:1px #ff9800
}

.rating-stats {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}

.progress-bar {
  color: #ff9800;
}

.thumbnail-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.thumbnail {
  height: 100px;
  width: 100px;
}

.modalView {
  /* display: none; */
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* width: 100%; */
  /* height: 100%; */
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-content {
  width: 500px;
  height: 550px;
  position: fixed;
  left: 80%;
  top: 500%;
  transform: translate(-50%, -50%);
  padding: 50px;
  z-index: 1000;
  top: 0px;
}

.largeImage {
  width: 500px;
  height: 500px;
}

.close {
  width: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.single-rating {
  display: flex;
}

.single-rating-star {
  font-size: 25px;
  color: #ff9800;
  /* background-color: #000; */
}

.single-rating-reviewer-container {
  display: flex;
  justify-content: space-between;
}

.single-reviewer {
  font-size: 10px;
}
.single-title, .single-response {
  font-weight: bold;
  font-size:15px;
}

.single-response {
  background-color: #aaa;
}

.single-recommend {
  font-style: italic;
}

.single-showMore {
  color:#aaa
}
/* ------------- review ------------- */

